/** This is a comment that the browser will ignore,
* Put your CSS code into this file
*/

/** styling the title text 
* Setting six different text changes
* this is double the number the assignment asks for
*/

h1{
    font-size: 32px; /** set font size */
    font-family: Arial, Helvetica, sans-serif; /** set font family */
    color: #FF0000; /** set font color */
    text-align: center; /** set the text alignment */
    border: 1px solid black; /** added a border around the text */
    border-radius: 6px;    /** rounding the corners on that border */
}
