/** This is a comment that the browser will ignore,
* Put your CSS code into this file
*/

/** styling the title text 
* set font size
* set font family
* set font color and alignment
* set border style
*/
h1{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;    
}
