header{ 
  background-color:#d3d3d3;
}
h1{
  text-align: center;
  color: #FF0000;
}
h2{
  color: #FF0000;
}
section{
  background-color: #ADD8E6;
}
a{
  color: #FFA500;
  background-color: #90ee90;
}
img{
  display: none;
  visibility: hidden;
  width: 0px;
  height: 0px;
}